coordinator=false
http-server.http.port={{ presto_http_port }}
query.max-memory={{ presto_query_max_memory }}
query.max-memory-per-node={{ presto_query_max_memory_per_node }}
query.max-total-memory-per-node={{ presto_query_max_total_memory_per_node }}
discovery.uri=http://{{ discovery_server_ip }}:{{ discovery_server_port }}