[Unit]
Description=Presto Worker
Documentation=http://prestodb.io
Requires=network.target
After=network.target

[Service]
User=presto
Type=forking
ExecStart={{ presto_home_dir }}/bin/launcher start
ExecStop={{ presto_home_dir }}/bin/launcher stop
WorkingDirectory={{ presto_home_dir }}/bin/
Restart=always

[Install]
WantedBy=default.target